@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.specialFont {
    font-family: "Poetsen One", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Poppins;
}

.center {
    text-align: center;
}

.white {
    color: white;
}

div.loading,
div.loader {
    position: absolute;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    width: 300px;
    height: 500px;
    background: #4b4b4b;
}

body {
    background-color: #3c3c3c;
    margin: 0;


}

html {
    margin: 0;
}

span.dot {
    animation: dot 1s infinite linear;
}

span.dot:nth-child(2) {
    animation-delay: .3s;
}


span.dot:nth-child(3) {
    animation-delay: .6s;
}

@keyframes dot {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

div.loader h2 {
    margin-top: 200px;
}

div.fullpage {
    background: hwb(0 29% 71%);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: .35s all;
    
}

div.fullpage2 {
    width: calc(100% - 50px);
    height: calc(110vh - 50px);
    left: 50px;
    top: 50px;
}



div.container {
    display: block;

    right: 40px;
    height: 80vh;
    position: absolute;
    left: 90px;
    top: 75px;

}

div.book {
    width: 130px;
    height: 200px;
    border: 1px solid white;
    background-color: #ffffff68;
    transition: .3s all cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
    display: inline-block;
    color: white;
    cursor: pointer;

}

div.book:hover {
    scale: 1.1;
    z-index: 99;
    background-color: white;
    color: black;
}

div.book:nth-last-child(1) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.book:last-child:hover {
    scale: 1;
}

div.book:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media screen and (max-width: 500px) {
    div.fullpage2 {
        width: 100%;
        height: calc(100vh - 50px);
        left: 0px;
        top: 50px;
    }

    div.fullpage {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: calc(100vh - 50px);
        left: 0px;
        top: 50px;
        padding: 0px;
    }

    div.container {
        position: absolute;

        left: 20px;
        right: 20px;
        width: auto;
    }

    div.container h2 {
        font-size: 15px;
        padding-top: 10px;
    }

    div.book {
        width: 100%;
        display: block;
        height: min-content;
        border-radius: 0px;
        background-color: #3c3c3c;

    }

    div.book h3 {
        margin: 7px;
        font-size: 15px;

    }

    div.book:last-child {
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    div.book:last-child:hover {
        scale: 1.05;
    }

    div.book:first-child {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    div.book:hover {
        scale: 1.05;
    }
}

div.title {
    color: white;
    font-size: 17px;
    position: absolute;
    padding: 14px;
}

span#greeting {
    animation: opa .5s linear forwards;
    animation-delay: 0.1s;
    opacity: 0;

}

@keyframes opa {
    from {
        opacity: 0;


    }

    to {
        opacity: 1;
    }
}

div.container * {
    opacity: 0;
    animation: opa .5s linear forwards;
}

div.container h2 {
    animation-delay: .4s;
    padding: 0;

}

div.gridTemp img:hover {

    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.42) 0px 15px 12px;

}


div.gridPermanent img:hover {

    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.42) 0px 15px 12px;

}

div.grid img {
    z-index: 1;
    scale: 1;
    transition-duration: .3s;
    animation-delay: .7s;

}

a {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ececec;
    border-radius: 8px;
    text-decoration: none;
    color: #4b4b4b;
    cursor: pointer;

    animation-delay: .7s;
}

a:hover {
    background: #3c3c3c;
    color: white;
}

.closeBtn:hover {
    scale: 1.1;
}

.closeBtn {
    transition-duration: .2s;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 30px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.42) 0px 15px 12px;
}

div.openNewTab {
    padding: 6px;
    border-radius: 4px;
    background-color: #4b4b4b;
    border: 1px solid #ececec;
    color: white;
    position: absolute;
    display: none;
    height: auto;
    width: max-content;
    font-size: 15px;
    pointer-events: none;
}

div.footer {
    position: fixed;
    font-size: 12px;
    color: white;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: #000;

}

.zoomBtn {
    border-radius: 0px;
    width: 60px;
    height: 50px;
    display: inline-block;
    bottom: 20px;
    translate: none;
    z-index: 999999;
    transition-duration: .2s;
    background-color: #3c3c3cb5;
    color: white;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    font-family: Poppins;
    font-size: 30px;
    text-align: center;
}

.zoomBtn:nth-child(1) {

    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;


}

.zoomBtn:nth-child(2) {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

div.buttonPanels {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    background: #ffffff68;
    padding: 3px;
    border-radius: 100px;

}



div.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
}

div.scrollable::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
}

div.scrollable::-webkit-scrollbar-track {
    background: #4b4b4b;
}

div.scrollable::-webkit-scrollbar-thumb {
    background: white;
    border: 1px solid white;
    border-radius: 100px;
}

div.scrollable::-webkit-scrollbar-thumb:hover {
    background: white;
}

div.mask {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    transition-duration: .3s;
}

div.maskViewable {
    pointer-events: none;
    backdrop-filter: blur(0px);
    background-color: transparent;
}


div#nav {
    transition: .3s all;
}

div.navNotActive {


    animation: navNotActivePC .3s linear forwards;

    pointer-events: none;
    opacity: 0;
}

div.navNotActive * {
    opacity: 0;
}


div.navActive div.title {
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    position: relative;
    padding: 0;
    padding-left: 10px;
}

div.navActive div.item {


    border: 1px solid #ccc;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;

    color: white;
    display: block;
    cursor: pointer;
    border-radius: 0px;

    border-bottom: 1px solid transparent;

    transition-duration: .3s;


}

div.navActive div.item:hover {
    padding-left: 20px;

}


div.navActive div.item.first {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

div.navActive div.item:nth-last-child(2) {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    border-bottom: 1px solid white;
}

div.navActive div.item:hover {
    background-color: #707070;
}

div.navActive {
    display: block;
    position: absolute;
    z-index: 99999999;
    background: #4b4b4b;
    right: 20px;
    top: auto;

    bottom: 20px;
    height: 350px;
    width: 300px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px;
}

div.navActive div.item.main {
    background-color: #bfbfbf;
    color: #3c3c3c;
    font-weight: bold;
}

div.navActive div.item.main:hover {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    div#nav {
        transition: .3s all;
    }

    div.navNotActive {
        width: 0px;
        opacity: 0;

        position: absolute;
        z-index: 99999999;

        right: 0;
        top: 20px;
        bottom: 20px;
        height: auto;
        width: calc(100% - 100px);
        pointer-events: none;
    }

    div.navNotActive * {
        opacity: 0;
    }


    div.navActive div.title {
        display: block;
        margin-bottom: 15px;
        margin-top: 5px;
        position: relative;
        padding: 0;
        padding-left: 10px;
    }

    div.navActive div.item {


        border: 1px solid #ccc;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;

        color: white;
        display: block;
        cursor: pointer;
        border-radius: 0px;

        border-bottom: 1px solid transparent;

        transition-duration: .3s;


    }

    div.navActive div.item:hover {
        padding-left: 20px;

    }


    div.navActive div.item.first {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

    }

    div.navActive div.item:nth-last-child(2) {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        border-bottom: 1px solid white;
    }

    div.navActive div.item:hover {
        background-color: #707070;
    }

    div.navActive {
        display: block;
        position: absolute;
        z-index: 99999999;
        background: #4b4b4b;
        right: 0;
        top: 20px;
        bottom: 20px;
        height: auto;
        width: calc(100% - 100px);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        padding: 10px;
    }

    div.navActive div.item.main {
        background-color: #bfbfbf;
        color: #3c3c3c;
        font-weight: bold;
    }

    div.navActive div.item.main:hover {
        background-color: #ffffff;
        color: black;
        font-weight: bold;
    }


}

div.close:hover {
    text-decoration: underline;
}

div.close {
    cursor: pointer;
}

span.key {

    padding: 5px;
    background-color: #707070;
    border: 1px solid white;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    transform: translateY(-10px);
    margin-left: 5px;
}
